.hero {
  background-color: $bgr-blue;
  padding: 200px 0;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bgr-Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    text-align: center;
  }
  &__title {
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.hero__button {
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;

  transition: color $duration-function, background-color $duration-function;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: #188ce8;
  }
}
